.home{
    width: 80%;
    margin: 0 auto;
}
.wrapper{
    display: flex;
    width: 100%;
}
.input-field{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
table{
    border: 1px solid;
    width: 100%;
}
table tr th{
    padding: 10px;
    border: 1px solid;

}
table tr td{
    padding: 10px;
    text-align: center;
    border: 1px solid;

}
button{
    cursor: pointer;
}
.red{
    color: red;
}